# Python Basics

In [ ]:
print("Hello world")

Hello world

In [ ]:
a = 5
b = 5.0
c = "Hello"
print(a,b,c)
# print(type(a), type(b), type(c))

In [ ]:
a = "My Student ID is "
b = input("Enter a number")
print(a+b)
c = 2.5
print(int(c))

In [ ]:
a = 10
b = 20
# int a = 10, b = 20
a,b = 5, 10

In [ ]:
University = "UIU"
location = "Madani Avenue"
print(f"My University is {University} located at {location}")

## Printing With Formatting

In [ ]:
print(a, 'apples')
# formatted print; similar to printf(f"{a} apples");
print(f"{a} apples")

print(f"{a} apples, {b} oranges") # 5 apples, 10 oranges
print("%d apples, %d oranges" % (a, b))

print(a, 'apples', b, 'oranges')

In [ ]:
a = 5
a

In [ ]:
a += 1
a

### Operators

In [ ]:
a = 3.9
a -= 1 # 2.9
a *= 2 # 5.8
a //= 2 # 2.9
a = a ** 2
a %= 3
a

1.0

### Strings

In [ ]:
s = "Hello"
print(s)
s = s * 3
print(s)

In [ ]:
a = '12343'
print(type(a))

a = int(a)
print(a, type(a))

In [ ]:
a = str(100)
print(a+a)
print(a*2)

### Input

In [ ]:
name = input("Enter your name")
age = int(input("Enter your age"))
id = int(input("Enter your student ID"))

print(f"My name is {name}. I am {age} years old. My Student ID is {id}")
print("My name is %s. I am %d years old. My Student ID is %d" %(name,age,id))

### Conditional Operator

In [ ]:
marks = 75

if marks % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
if (marks >= 55 and marks <= 65):
  print("C")
elif marks > 65 and marks <= 75:
  print("B+")
else:
  print("A")

In [ ]:
day = "Monday"

if day == "Monday" or day == "Thursday":
  print("Chuti")

Chuti

In [ ]:
a = 2
if a > 1 and a <= 10: # yes
    print('1 < a <= 10')
if a == 2 or a >= 1: # yes
    print('a is greater than or equal to 1')
if a == 2: # yes
    print('a is 2')
if a != 2: # no
    print('a is not 2')

if a is 2: # yes
    print('a is 2')
if a is not 4: # yes
    print('a is not 4')

### For loops

In [ ]:
for i in range(10,0,-1):
  print(i)

In [ ]:
for i in range(10,0,-1):
  print(i)
  if i == 5:
    continue

In [ ]:
n = 0
while True:
    print(n)
    # n++, n--, --n, ++n is not supported
    n += 1 #1
    n = n+1 #2
    n = n-1 #1
    n -= 1 #0
    n *= 2 #0
    n /= 2 #0
    n += 1 #1
    if n == 5: break

In [ ]:
i = 1
while i < 6: # while i in range(1,6,2)
    print(i)
    i += 2

In [ ]:
i = 1
while i < 100:
    if i % 10 == 0:
        print(i)
    elif i % 23 == 0:
        print(i, 'need to break')
        break
    i += 3